body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3ef;
    font-family: "Andika", serif;
    font-style: normal;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
  }
  
  p {
    font-size: 2.5em;
    color: #272627;
    margin: 0;
  }

  h1 {
    color: #ffacda;
    margin: 0;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #ff70a0;
    color: #272627;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #ffb8d0;
    color: #272627;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }